<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>John smith/title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.min.css">
</head>

<body>
    <section class="py-4 py-xl-5">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-uppercase fw-bold mb-3">John smith: 012546&nbsp;</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="images/person2.jpg" style="width: 200px;height: 200px;"></div>
            <div class="col-md-6">
                <p><strong>Name: </strong>John Smith</p>
                <p><strong>DOB:&nbsp;</strong>&nbsp;<span style="color: rgb(112, 117, 122);">24 May 1968</span></p>
                <p><strong>Phone Number:</strong> +18761234567</p>
                <p><strong>Email Address:</strong> johnsmith@email.com</p>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="text-center text-white-50 bg-primary border rounded border-0 p-3">
            <h1>Vital Statistics</h1>
            <div class="row row-cols-2 row-cols-md-4">
                <div class="col">
                    <div class="p-3">
                        <h4 class="display-5 fw-bold text-white mb-0">0</h4>
                        <p class="mb-0">Temperate</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <h4 class="display-5 fw-bold text-white mb-0">0</h4>
                        <p class="mb-0">Latitude</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <h4 class="display-5 fw-bold text-white mb-0">0</h4>
                        <p class="mb-0">Longitude</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <h4 class="display-5 fw-bold text-white mb-0">0</h4>
                        <p class="mb-0">DateTime:&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="javascripts/data-fetch.js"></script>
</body>

</html>