<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MHM-GPS</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.min.css">
</head>

<body style="background: #c5d2de;color: var(--bs-purple);">
    <section class="py-4 py-xl-5">
        <div class="container h-100">
            <div class="text-white bg-primary border rounded border-0 p-4 py-5">
                <div class="row h-100">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h1 class="text-uppercase fw-bold text-white mb-3">Mobile health monitoring &amp; gps tracking system</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-light navbar-expand-md py-3" style="background: #bad0f1;--bs-body-font-size: 2rem;--bs-body-font-weight: bold;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: var(--bs-gray-300);">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/police">POLICE</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">SOLDIER</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">FIREFIGHTER</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">OTHER</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>