<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Police-Clarendon</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.min.css">
</head>

<body>
    <section class="py-4 py-xl-5">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-uppercase fw-bold mb-3">Police officers in clarendon</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body d-flex align-items-center p-0"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="130" height="130" src="images/person2.jpg">
                        <div>
                            <h5 class="fw-bold text-primary mb-0"><a href="/012546">John Smith</a></h5>
                            <p class="text-muted mb-1">Badge #: 012546</p>
                        </div>
                    </div>
                    <div class="card-body d-flex align-items-center p-0"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="130" height="130" src="images/person6.jpg">
                        <div>
                            <h5 class="fw-bold text-primary mb-0">Peter Miller</h5>
                            <p class="text-muted mb-1">Badge #: 695019</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body d-flex align-items-center p-0"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="130" height="130" src="images/person5.jpg">
                        <div>
                            <h5 class="fw-bold text-primary mb-0">Emily Anderson</h5>
                            <p class="text-muted mb-1">Badge #: 116523</p>
                        </div>
                    </div>
                    <div class="card-body d-flex align-items-center p-0"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="130" height="130" src="images/person4.jpg">
                        <div>
                            <h5 class="fw-bold text-primary mb-0">Catherine Gray</h5>
                            <p class="text-muted mb-1">Badge #: 25463</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body d-flex align-items-center p-0"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="130" height="130" src="images/person1.jpg">
                        <div>
                            <h5 class="fw-bold text-primary mb-0">Carl Brown</h5>
                            <p class="text-muted mb-1">Badge #: 598652</p>
                        </div>
                    </div>
                    <div class="card-body d-flex align-items-center p-0"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="130" height="130" src="images/person3.jpg">
                        <div>
                            <h5 class="fw-bold text-primary mb-0">Roy Simmonds</h5>
                            <p class="text-muted mb-1">Badge #: 886541</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>