<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Police</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.min.css">
</head>

<body style="background: var(--bs-gray-200);">
    <section class="py-4 py-xl-5">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-uppercase fw-bold mb-3">pOLICE</h2>
                        <p class="mb-4">View police officers by parish.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown" style="margin: auto"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Select parish&nbsp;</button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="/police-clarendon">Clarendon</a>
                            <a class="dropdown-item" href="#">Hanover</a>
                            <a class="dropdown-item" href="#">Kingston</a>
                            <a class="dropdown-item" href="#">Manchester</a>
                            <a class="dropdown-item" href="#">Portland</a>
                            <a class="dropdown-item" href="#">Saint Andrew</a>
                            <a class="dropdown-item" href="#">Saint Ann</a>
                            <a class="dropdown-item" href="#">Saint Catherine</a>
                            <a class="dropdown-item" href="#">Saint Elizabeth</a>
                            <a class="dropdown-item" href="#">Saint James</a>
                            <a class="dropdown-item" href="#">Saint Mary</a>
                            <a class="dropdown-item" href="#">Saint Thomas</a>
                            <a class="dropdown-item" href="#">Trelawny</a>
                            <a class="dropdown-item" href="#">Westmoreland</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>